@import url('https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
.input-box{
  @apply flex items-center gap-3 border border-slate-300 rounded-lg px-3 py-2 mt-2 ;
}
body{
    font-family: "Urbanist" , sans-serif;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
  background-color: rgba(100, 100, 100, 0.4);
}
.custom-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

@layer utilities{
  @keyframes text-shine {
   0% {
    background-position: 0% 50%;
    }
    100%{
      background-position: 100% 50%;
    }
  }
}

.animate-text-shine{
  animation:text-shine 3s ease-in-out infinite alternate
}